	html {
		width: 100%;
		height: 100%;
	}

	body {
		width: 100%;
		height: 100%;
		margin: 0px;
		padding: 0px;
		border: 0px;
		background: #ccc;
	}
	
	h1 {
		margin: 0px;
		padding: 0px;
		background: white;
	}
	
	p {
		text-align: left;
		margin-left: 10px;
	}
	
	.nav {
		position: fixed;
    	width: 200px;
		right: 100px;
		top: 300px;
		z-index: 1;
	}
	
	.bar {
		fill: orange;
	}
	
	.content_area {
		width: 75%;
		height: 70%;
	    margin: 0 auto;
		position: relative;
		top: 90px;
		background: white;
		padding-top: 70px;
	}
	
	.first {
		display: inline-block;
		width: 40%;
		height: 200px;
		text-align: center;
		background: white;
	}
	
	.graph {
		width: 50%;
		margin: 0 auto;
		position: relative;
		top: 90px
	}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	