	
	h3 {
		background: #ccc;
		display: inline-block;
		width: 40%;
	}
	
	#close {
		text-decoration: none;
		font-size: 25px;
		color: black;
		display: inline-block;
		width: 40%;
		position: relative;
		left: 360px;
	}