	
	
	

body{
	margin:0;
	padding:0;
	border:0;
	
}

ul,li{
	list-style:none;
	margin:0;
	padding:0;
}
setion {
	display:block;
}
.content_area{
	width: 1200px;
    margin: 0 auto;
}

.pagepoint{
	width: 100%;
    text-align: center;
}

	
	
	table{
		border: 1px solid #666;
		border-spacing : 0px;
		text-align: center;
		width: 100%;
				
	}
	
	tr td{
		font-family: "lucida grande", verdana, sans-serif;
		font-size: 8pt;
		padding: 3px 8px;
		background: #fff;
	}
	
	thead td{
		color: #fff;
		background-color: #a85ad8;
		font-weight: bold;
		border-bottom: 1px solid #999;
		height: 50px;
	}
	
	tbody td{
		border-left: 1px solid #D9D9D9;
		height: 50px;
	}
	
	tbody tr.even td{
		background: #eee;
	}
	
	tbody tr.ruled td{
		color: #000;
		background-color: #C6E3FF;
		font-size : 9pt;
		border-color: #3292FC;
	}
	
	a {
		text-decoration: none;
	}
	
	/* Opera fix */
	head:first-child+body tr.ruled td{
		background-color: #C6E3FF; 
	}
	
	
	#container {
	    width: 600px;
	    margin: 0 auto;
	    padding: 20px;
	}
	
	.btn {
	    display: inline-block;
	    padding: 10px;
	    border-radius: 5px; /*optional*/
	    color: #aaa;
	    font-size: .875em;
	}
	
	.pagination {	  
	    padding: 20px;
	    padding-left: 0px;
    	padding-right: 0px;
	    margin-bottom: 20px;
	}
	
	.page {
	    display: inline-block;
	    padding: 0px 9px;
	    margin-right: 4px;
	    border-radius: 3px;
	    border: solid 1px #c0c0c0;
	    background: #e9e9e9;
	    box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
	    font-size: .875em;
	    font-weight: bold;
	    text-decoration: none;
	    color: #717171;
	    text-shadow: 0px 1px 0px rgba(255,255,255, 1);
	}
	
	.page:hover, .page.gradient:hover {
	    background: #fefefe;
	    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#f0f0f0));
	    background: -moz-linear-gradient(0% 0% 270deg,#FEFEFE, #f0f0f0);
	}
	
	.page.active {
	    border: none;
	    background: #616161;
	    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
	    color: #f0f0f0;
	    text-shadow: 0px 0px 3px rgba(0,0,0, .5);
	}
	
	.page.gradient {
	    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8f8f8), to(#e9e9e9));
	    background: -moz-linear-gradient(0% 0% 270deg,#f8f8f8, #e9e9e9);
	}
	
	
	.container {
 	 margin: 50px auto;
  	width: 500px;
  	text-align: center;
	}
	
	.container > .dropdown {
	  margin: 0 20px;
	  vertical-align: top;
	}
	
	.dropdown {
	  display: inline-block;
	  position: relative;
	  overflow: hidden;
	  height: 28px;
	  width: 150px;
	  background: #f2f2f2;
	  border: 1px solid;
	  border-color: white #f7f7f7 #f5f5f5;
	  border-radius: 3px;
	  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
	  background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
	  background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
	  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.06));
	  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
	  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
	}
	
	.dropdown:before, .dropdown:after {
	  content: '';
	  position: absolute;
	  z-index: 2;
	  top: 9px;
	  right: 10px;
	  width: 0;
	  height: 0;
	  border: 4px dashed;
	  border-color: #888 transparent;
	  pointer-events: none;
	}
	
	.dropdown:before {
	  border-bottom-style: solid;
	  border-top: none;
	}
	
	.dropdown:after {
	  margin-top: 7px;
	  border-top-style: solid;
	  border-bottom: none;
	}
		
	.dropdown-select {
	  position: relative;
	  width: 130%;
	  margin: 0;
	  padding: 6px 8px 6px 10px;
	  height: 28px;
	  line-height: 14px;
	  font-size: 12px;
	  color: #62717a;
	  text-shadow: 0 1px white;
	  /* Fallback for IE 8 */
	  background: #f2f2f2;
	  /* "transparent" doesn't work with Opera */
	  background: rgba(0, 0, 0, 0) !important;
	  border: 0;
	  border-radius: 0;
	  -webkit-appearance: none;
	}
	
	.dropdown-select:focus {
	  z-index: 3;
	  width: 100%;
	  color: #394349;
	  outline: 2px solid #49aff2;
	  outline: 2px solid -webkit-focus-ring-color;
	  outline-offset: -2px;
	}
	
	.dropdown-select > option {
	  margin: 3px;
	  padding: 6px 8px;
	  text-shadow: none;
	  background: #f2f2f2;
	  border-radius: 3px;
	  cursor: pointer;
	}
